<h1>Hello you dick</h1>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<input id="logOut" type="button" value="logOut" onclick="logout();" />
<div id="status">
</div>

<div class="info">
  <img src=<%=@photo%>>
  <p>
	Name:	<%=@person["name"]%>
	</p>
	<p>
	DOB:	<%=@person["birthday"]%>
  </p>
  <p> 	
	Political Views: <%=@person["political"]%>
	<p>
</div>