<h1 class="title">FISTICUFFS</h1>
<h4 class="title">Login</h4>

<div class="logindiv">
	<br>
  <a href="<%= @auth_url %>" ><button id="facebook"> Sign in with Facebook</button></a>
  <br>
  <br>
  <p id="logintext">Fistcuffs is a social network dedicated to uniting those in search of honorable combat
  <br>
  <br>
  Human beings are naturally aggressive, competitive creatures.
  <br> 
  <br>
  Of course, the human beings of today are generally stuck working terrible, boring desk jobs.
  <br>
  <br>
	This leaves us with a decided disconnect from our competitive, aggressive natures.
  <br>
  <br>
  Fisticuffs aims to change that.
  </p>
</div>
