<h1 class="title">Login</h1>

<div class="logindiv">
	<br>
	<br>
  Human beings are naturally aggressive, competitive creatures.
  <br> 
  Of course, the human beings of today are generally stuck working terrible, boring desk jobs.
  <br>
	This leaves us with a decided disconnect from our competitive, aggressive natures.
  <br>
  Fisticuffs aims to change that.
  <br>
  <br>
  <a href="<%= @auth_url %>" >Login With Facebook</a>
</div>
