<h3 class="title">Ripe for Conquest</h3>
<br>
<br>
<%if @matched_users != []%>
	<%@matched_users.map do |user|%>
	<ul>
		<a href="/matches/<%=@matched.where({opponent_id: user.id}).first.id%>">
			<li class="matcheduser">
				<%=user.name%>
				<br>
				<img class="matchphoto" src="<%=user.picture%>">
			</li>
		</a>
	</ul>	
	<%end%>
<%else%>
	<h3>No prospective Combatants!</h3>
<%end%>

<div class="home">
	<form action="/">
		<input type="submit" value="Home">
	</form>
</div>