body {
	background-color: black;
	color: white;
}

.opponent {
	text-align: center;
	background-color: black;
	border-radius: 10px;
	border: 2px solid white;
	height: 400px;
	width: 500px;
	margin: 0 auto;
}

.buttonholder {
	text-align: center;
}

.title {
	color: white;
	text-align: center;
}

.table {
	border: 0;
	margin: 0 auto;
}

.logindiv {
	text-align: center;
	color: white;
}

