body {
	background-color: black;
	color: white;
}

.outer {
	width:100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

form {
	border: none;
}

#opponent {
	text-align: center;
	background-color: #111111;
	border-radius: 10px;
/*	border: 4px solid white;*/
	width: 400px;
	margin: 0 auto;
	padding: 20px;
}

.nav {
	float: right;
	padding-right: 20px;
}

.buttonholder {
	text-align: center;
}

.title {
	color: white;
	text-align: center;
	font-family: Sinking Ship;
}

.table {
	border: 0;
	margin: 0 auto;
}

.logindiv {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: white;
}
h6 {
	font-size: 10;
	color: red;
}

#editbio {
	margin: 0 auto;
	text-align: center;
	display: block;
	color: black;
	background-color: white;
}

.profile {
	text-align: center;
	color: white;
	margin: 0 auto;
}

.oppbio{
	color: white;
	padding: 10px;
}

.editlocation {
	width: 100px;
}

.stats{
	color: white;
}

.vitals {
	margin-top: 20px;
	margin-bottom: 20px;
}
.h_and_w {
	width: 30px;
	color: black;
	margin-bottom: 20px;
	height: 20px;
	margin-left: 8px;
}

.location {
	background-color: black;
	margin-left: 8px;
	width: 100px;
	color: black;
	height: 10px;
	text-align: center;
}
.likearrow {
	color: green;
	font-size: 40px;
}

.dislikearrow {
	color: red;
	font-size: 40px;
	margin-right: 200px
}

.matcheduser {
	text-align: center;
	margin: 0 auto;
}

.matchphoto{
	height: 100px;
	width: 100px;
	border-radius: 25px;
}

.messagepage {
	text-align: center;
	margin: 0 auto;
	color: white;
}

.messagebody {
	background-color: black;
}

.home {
	text-align: center;
	color: white;
	margin: 0 auto;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.likehover {
	float: right;
	color: green;
	font-family: Sinking Ship;
}

.dislikehover {
	float: left;
	color: red;
	font-family: Sinking Ship;
}

#unreadmessageusername {
	color: red;
}